$primaryBlue: rgb(50, 240, 225);
$darkBlue: rgb(5, 155, 150);
$primaryGrey: rgb(50, 50, 50);
$lightGrey: rgb(150, 150, 150);
$lightShadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 1500px;
  margin: auto;
  padding: 0 1.5rem;
}
.router-view-transition {
  &-enter {
    opacity: 0;
  }
  &-leave-to {
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.3s ease-in-out;
  }
  &-leave-active {
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 1500px) {
  .main-container {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
}
@media (max-width: 1200px) {
  .main-container {
    padding: 0.5rem 1.5rem;
  }
}
@media (max-width: 576px) {
  .main-container {
    padding: 0.5rem 1rem;
  }
}
